<% include ../partials/boilerplate %>
<% include ../partials/nav {user: user} %>
<div class='container'>
  <div class='input-container'>
    <form method='POST' action='/auth/login'>
      <input name='username' type='text' placeholder='username' required />
      <input name='password' type='password' placeholder='password' required />
      <button id='login-form-button' type='submit'>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</div>
<% include ../partials/end %>