<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>The Reading List</title>
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/87ea9562e2.css">
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/style.css'>
  <script src='/src/jquery.js'></script>
</head>
<body class='<%= currentPage %>'>