<footer>
  <% if (currentPage !== 'home') { %>
  <form id='bookstore-request' method='GET'>
    <input type='text' name='zip' placeholder='Zip Code' />
    <input type='submit' value='Find a bookstore!' />
  </form>
  <form id='book-request' method='GET'>
    <input type='text' name='query' placeholder='Title or Author' />
    <input type='submit' value='Find books!' />
  </form>
  <% } %>
  <h3>Created by Ryan</h3>
</footer>
<script src='/src/main.js'></script>
</body>
</html>