<footer>
  <% if (currentPage !== 'home') { %>
  <div class='footer-search'>
    <form id='bookstore-request' class='tooltip' method='GET'>
      <span class='tooltiptext-top'>Find bookstores</span>
      <input type='text' name='zip' maxlength=5 size=5 placeholder='ZIP' required />
      <button type='submit' class='bookstore-request-button'>
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <form id='book-request' class='tooltip' method='GET'>
      <span class='tooltiptext-top'>Find books</span>
      <input type='text' name='query' placeholder='Title or Author' required />
      <button type='submit' class='book-request-button'>
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <% } %>
  <div class='credits'>
    <p id='web-author'>Site by Ryan</p>
    <p id='photo-credit'>Photo by Mareks Steins on Unsplash</p>
  </div>
</footer>
<script src='/src/main.js'></script>
</body>
</html>