<footer>
  <% if (currentPage !== 'home') { %>
  <div class='footer-search'>
    <form id='bookstore-request' method='GET'>
      <input type='text' name='zip' maxlength=5 size=5 placeholder='ZIP' />
      <button type='submit' id='bookstore-request-button'>
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <form id='book-request' method='GET'>
      <input type='text' name='query' placeholder='Title or Author' />
      <button type='submit' id='book-request-button'>
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <% } %>
  <div class='credits'>
    <h3 id='web-author'>Created by Ryan</h3>
    <p id='photo-credit'>Photo by Mareks Steins on Unsplash</p>
  </div>
</footer>
<script src='/src/main.js'></script>
</body>
</html>