<nav>
  <div class='not-nav'>
    <a href='/' id='home'>The Reading List</a>
    <% if (user) { %><p id='user-greeting'>Hello <%= user.firstname %>!</p><% } %>
  </div>
  <ul class='nav'>
    <% if (user) { %>
    <li>
      <form class='button'>
        <button id='chat-button' type='submit' formmethod='GET' formaction='/chat' <% if (currentPage === 'chat') { %>class='highlight-button' disabled<% } %>>
          <i class="fa fa-comments-o" aria-hidden="true"></i>
        </button>
        <p class='button-label hidden'>Go chat!</p>
      </form>
    </li>
    <li>
      <form class='button'>
        <button id='add-button' type='submit' formmethod='GET' formaction='/books/add' <% if (currentPage === 'add') { %>class='highlight-button' disabled<% } %>>
          <i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-book" aria-hidden="true"></i>
        </button>
        <p class='button-label hidden'>Add book</p>
      </form>
    </li>
    <li>
      <form class='button'>
        <button id='list-button' type='submit' formmethod='GET' formaction='/books' <% if (currentPage === 'index') { %>class='highlight-button' disabled<% } %>>
          <i class="fa fa-list-ul" aria-hidden="true"></i>
        </button>
        <p class='button-label hidden'>Your List</p>
      </form>
    </li>
    <li>
      <form class='button'>
        <button id='profile-button' type='submit' formmethod='GET' formaction='/user' <% if (currentPage === 'user') { %>class='highlight-button' disabled<% } %>>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </button>
        <p class='button-label hidden'>Profile</p>
      </form>
    </li>
    <li>
      <form class='button'>
        <button id='logout-button' type='submit' formmethod='GET' formaction='/auth/logout'><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        <p class='button-label hidden'>Logout</p>
      </form>
    </li>
    <% } else { %>
    <li>
      <form class='button'>
        <button id='login-button' type='submit' formmethod='GET' formaction='/auth/login' <% if (currentPage === 'login') { %>class='highlight-button' disabled<% } %>>
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </button>
        <p class='button-label hidden'>Login</p>
      </form>
    </li>
    <li>
      <form class='button'>
        <button id='register-button hidden' type='submit' formmethod='GET' formaction='/auth/register' <% if (currentPage === 'register') { %>class='highlight-button' disabled<% } %>>
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
        <p class='button-label hidden'>Register</p>
      </form>
    </li>
    <% } %>
  </ul>
</nav>