<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>The Reading List</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/87ea9562e2.css">
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/style.css'>
  <script src='/src/jquery.js'></script>
  <script src='/socket.io/socket.io.js'></script>
  <script type='text/javascript'>
    var username = `<%= user.username %>`;
    var socket = io({query: {username: username}});

    $(function () {

      $('#chat-form').on('submit', function() {
        let text = $('#chat-input').val();
        socket.emit('chat message', text);
        $('#chat-input').val('');
        return false;
      });

      socket.on('chat message', function(text) {
        let $user = $('<p>').text(text.username + ': ');
        let $text = $('<p>').text(text.message);
        let $newMessage = $('<div>').append($user).append($text);
        $newMessage.addClass('chat-message');
        if (text.username === `<%= user.username %>` ) {
          $newMessage.css('color', 'lightskyblue');
        };
        $('#chat-content').prepend($newMessage);
      });

      socket.on('welcome', function(data) {
        let $newMessage = $('<p>').text(data.greeting);
        $newMessage.addClass('notification');
        $newMessage.attr('id', 'chat-welcome-notification');
        $newMessage.css('color', 'gold');

        let $userList = $('<p>');
        if (jQuery.isEmptyObject(data.users)) {
          $userList.text('You\'re all alone and that\'s sad :(');
        } else {
          let userList = '';
          for (let socketId in data.users) {
            userList += ` -${data.users[socketId]}`;
          };
          $userList.text(`You're with${userList}`);
        };
        $userList.addClass('notification');
        $userList.attr('id', 'user-list-notification');
        $userList.css('color', 'gold');
        // $userList.css('font-size', '.8em');

        $('#chat-content').prepend($newMessage);
        $('#chat-content').prepend($userList);
      });

      socket.on('list users', function(users) {
        let $userList = $('<p>');
        if (jQuery.isEmptyObject(users)) {
          $userList.text('You\'re all alone and that\'s sad :(');
        } else {
          let userList = '';
          
          for (let socketId in users) {
            if (users[socketId] !== `<%= user.username %>`) {
              console.log(`adding ${users[socketId]} to userlist!`)
              userList += ` -${users[socketId]}`;
            };
          };
          
          if (!userList) {
            $userList.text('You\'re all alone and that\'s sad :(');
          } else {
            $userList.text(`You're with${userList}`);
          };
        };
        $userList.addClass('notification');
        $userList.attr('id', 'user-list-notification');
        $userList.css('color', 'gold');
        // $userList.css('font-size', '.8em');

        $('#chat-content').prepend($userList);
      });

      socket.on('new user', function(text) {
        let $newMessage = $('<p>').text(text);
        $newMessage.addClass('notification');
        $newMessage.attr('id', 'chat-connect-notification');
        $newMessage.css('color', 'lightgreen');
        $('#chat-content').prepend($newMessage);
      });

      socket.on('user left', function(text) {
        let $newMessage = $('<p>').text(text);
        $newMessage.addClass('notification');
        $newMessage.attr('id', 'chat-disconnect-notification');
        $newMessage.css('color', 'lightcoral');
        $('#chat-content').prepend($newMessage);
      });
    });
  </script>
</head>
<body class='<%= currentPage %>'>

<% include ./partials/nav {user: user} %>

<div class='container'>
  <div class='chat-container'>
    <div id='chat-box'>
      <div id='chat-content'>
      </div>
    </div>
    <ul id='messages'></ul>
    <form id='chat-form' action=''>
      <input id='chat-input' autocomplete='off' /><button>Send</button>
    </form>
  </div>
</div>

<% include ./partials/end %>