<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>The Reading List</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/87ea9562e2.css">
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/style.css'>
  <script src='/src/jquery.js'></script>
  <script src='/socket.io/socket.io.js'></script>
  <script type='text/javascript'>
    var username = `<%= user.username %>`;
    var socket = io({query: {username: username}});

    $(function () {

      // socket.on('connect', function() {
      //   console.log('connected');
      //   socket.emit('hello', username);
      // });

      $('#chat-form').on('submit', function() {
        let text = $('#chat-input').val();
        socket.emit('chat message', text);
        $('#chat-input').val('');
        return false;
      });

      socket.on('chat message', function(text) {
        let $user = $('<p>').text(text.username + ': ');
        let $text = $('<p>').text(text.message);
        let $newMessage = $('<div>').append($user).append($text);
        $newMessage.addClass('chat-message');
        if (text.username === `<%= user.username %>` ) {
          $newMessage.css('color', 'lightskyblue');
        };
        $('#chat-content').prepend($newMessage);
      });

      socket.on('welcome', function(text) {
        let $newMessage = $('<p>').text(text);
        $newMessage.addClass('chat-welcome-notification');
        $newMessage.css('color', 'gold');
        $('#chat-content').prepend($newMessage);
      });

      socket.on('new user', function(text) {
        let $newMessage = $('<p>').text(text);
        $newMessage.addClass('chat-connect-notification');
        $newMessage.css('color', 'lightgreen');
        $('#chat-content').prepend($newMessage);
      });

      socket.on('user left', function(text) {
        let $newMessage = $('<p>').text(text);
        $newMessage.addClass('chat-disconnect-notification');
        $('#chat-content').prepend($newMessage);
      });
    });
  </script>
</head>
<body class='<%= currentPage %>'>

<% include ./partials/nav {user: user} %>

<div class='container'>
  <div class='chat-container'>
    <div id='chat-box'>
      <div id='chat-content'>
      </div>
    </div>
    <ul id='messages'></ul>
    <form id='chat-form' action=''>
      <input id='chat-input' autocomplete='off' /><button>Send</button>
    </form>
  </div>
</div>

<% include ./partials/end %>