<% include ./partials/boilerplate %>
<% include ./partials/nav {user: user} %>

<div class='splash-container'>
  <div class='message-box'>
    <h1 id='splash-message'><%= message %></h1>
    <h3 id='splash-quote'><%= subTitle %></h3>
  </div>
  <div class='search-box'>
    <form id='bookstore-request' method='GET'>
      <input type='text' name='zip' maxlength=5 size=5 placeholder='ZIP' />
      <input type='submit' value='Find bookstores!' />
    </form>
    <form id='book-request' method='GET'>
      <input type='text' name='query' placeholder='Title or Author' />
      <input type='submit' value='Find books!' />
    </form>
  </div>
</div>

<% include ./partials/end %>