<% include ../partials/boilerplate %>
<% include ../partials/nav {user: user} %>

<div class='container'>
  <div class='input-container'>
    <form method='POST' action='/user?_method=PUT'>
      <input name='username' type='text' value='<%= user.username %>' required />
      <input name='email' type='email' value='<%= user.email %>' />
      <input name='firstname' type='text' value='<%= user.firstname %>' />
      <input name='lastname' type='text' value='<%= user.lastname %>' />
      <button id='user-edit-button' type='submit'>
        <i class="fa fa-share" aria-hidden="true"></i><i class="fa fa-user-circle" aria-hidden="true"></i>
      </button>
    </form>
    <div class='back'>
      <a href='/user'>Back to Profile</a>
      <a href='/user/change-password'>Change Password</a>
    </div>
  </div>
</div>

<% include ../partials/end %>