body {
  font-family: 'Special Elite', cursive;
  background-image: url('../images/mareks-steins-206836.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-color: black;
  color: #FFF7EF; 
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-style: italic;
}

a {
  color: #FFF8F6;
  text-decoration: none;
}

button {
  outline: none;
}

input, textarea {
  outline: none;
  font-family: 'PT Mono', monospace;
}

input[type='submit'] {
  font-family: 'PT Mono', monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,.75);
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
}

nav, nav ul {
  display: flex;
  flex-direction: row;
}

nav ul {
  padding-right: 10px;
}

nav #home {
  margin: 10px;
  text-decoration: none;
  font-size: 28px;
  color: black;
  font-weight: 900;
  text-shadow: 1px 0px white, 0px 1px white, -1px 0px white, 0px -1px white;

}

nav .not-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

nav ul #user-greeting {
  margin-bottom: 10px;
}

nav ul li {
  display: flex;
  margin: 15px 5px 5px 5px;
  align-items: center;
}

nav button {
  width: 45px;
  font-size: 14px;
  border: solid 1px transparent;
  outline: none;
  border-radius: 5px;
  transition: all .25s;
}

nav button:hover {
  border-radius: 0px;
}

.button-label {
  font-family: 'PT Mono', monospace;
  transition: all .2s;
}

nav .button-label {
  font-size: 8px;
  padding-top: 5px;
}

.container .button-label {
  font-size: 10px;
  padding-bottom: 3px;
}

.splash-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto; 
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 80vw;
}

.splash-container #splash-quote {
  line-height: 25px;
}

.splash-container #splash-quote-author {
  padding: 10px;
  text-align: right;
  margin: 0 50px;
}

.splash-container .search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  align-content: space-between; 
  margin: 10px;
}

.splash-container form {
  display: flex;
  align-items: center;
}

.splash-container form button {
  font-size: 20px;
  height: 35px;
  color: #FFF8F6;
  background-color: transparent; 
  border: solid 2px transparent;  
  transition: all .25s;
  outline: none;
  cursor: pointer;
}

.splash-container form button:hover,
.splash-container form button:focus {
  border-left: solid 2px #FFF8F6;
  border-right: solid 2px #FFF8F6;
  border-radius: 20px;
}

.splash-container .search-container input[type='text'] {
  width: auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto 70px;
  width: 95vw;
}

.container .read-book-container, .container .unread-book-container {
   width: 90vw;
   padding-top: 15px;
}

.container .add-container {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  min-height: 70vh; 
  width: 80vw;
  justify-content: center;
}

.container .input-container, .container .search-container,
.container .user-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 60%;
  align-self: center;
  margin: 20px;
}

.container .user-container,
.container .input-container {
  height: 60vh;
}

.user-container ul {
  font-family: 'PT Mono', monotype;
}

.user-container #user-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#user-info #user-labels, #user-info #user-values {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#user-labels{
  align-items: flex-end;
}

#user-labels ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-container ul li {
  display: flex;
  flex-direction: row;
   align-items: flex-end; 
  line-height: 20px;
}

.container .chat-container {
  font-family: 'PT Mono', monospace;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 70vw;
  height: 65vh;
  text-align: left;
  vertical-align: bottom;
} 

.chat-container #chat-box {
  height: 100%;
  display: flex; 
  flex-direction: column;
  background-color: rgba(0,0,0,.5);
  border-top: solid 2px lightgray;
  border-left: solid 2px lightgray;
  border-right: solid 2px lightgray;
  border-bottom: none;
  overflow-y: auto;
  max-height: 70vh;
  min-height: 65vh; 
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
}

.chat-container #chat-form {
  display: flex;
}

#chat-form #chat-input {
  flex-grow: 5;
  border-radius: 0 5px 0 5px;
  border: none;
  padding: 0px 10px;
  background-color: lightgray;
}

#chat-form button {
  border: none; 
  border-radius: 0 0 5px 0;
  flex-grow: 1;
  margin: 0;
  background-color: rgba(0,0,0,.5);
  color: lightgray;
  border-bottom: solid 2px lightgray;
  border-right: solid 2px lightgray;
}

#chat-box #chat-content {
  flex: 1 1 90%;  
  display: flex; 
  flex-direction: column-reverse;
  overflow: auto;
  /* min-height: 100%;  */
}

#chat-content p {
  line-height: 16px;
}

#chat-content .notification {
  font-style: italic;
  padding: 5px 0;
}

#chat-content #user-list-notification {
  font-size: 0.8em;
}

#chat-content .chat-message p {
  display: inline-block;
}

.chat-message p:nth-child(1) {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.chat-message p:nth-child(2) {
  padding-left: 3px;
}

.container button {
  margin: 0 5px;
  font-size: 16px;
  width: 50px;
  border-radius: 5px;
  background-color: darkgrey;
}

.container #book-submit-button {
  height: 30px;
}

.input-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 275px; 
  text-align: center;
  margin-bottom: 20px;
}

.input-container form [type='text'], .input-container form [type='number'],
.input-container form [type='password'], .input-container form [type='email'],
.search-container form [type='text'] {
  border-radius: 20px;
  padding: 5px 15px;
  line-height: 22px;
  font-size: 20px;
  border: solid 2px rgba(255,255,255,.5);
  color: #FFF8F6;
  background-color: transparent;
  outline: none;
  transition: 0.5s;
  width: 80%; 
  margin: 5px;
}

.input-container form textarea[type='text'] {
  font-size: 16px;
  height: 125px;
}
 
.input-container form .year-genre {
   display: flex; 
} 

.year-genre input[name='year'], .year-genre input[name='genre'] {
  width: auto;
}

.input-container form [type='text']:focus, .input-container form [type='number']:focus,
.input-container form [type='password']:focus, .input-container form [type='email']:focus,
.search-container form [type='text']:focus {
  border: solid 2px #FFF8F6;
}

.input-container form input[type='email'] {
  font-size: 14px;
}

.input-container .feedback {
  width: 400px;
  height: 50vh;
}

.store, .book {
  margin: 10px 0;
  border: solid 1px grey;
  border-radius: 10px;
  width: 100%;
}

.book .user-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.book .book-description {
  line-height: 18px;
  text-align: justify;
  padding: 10px;
  font-size: 14px;
}

.book-top #title {
  text-align: left;
}

.book-top #author {
  text-align: right;
}

.user-feedback .user-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 275px;
  padding: 10px;
  font-size: 20px;
}

.store .store-info, .book .book-top {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store .store-info {
  flex-direction: column;
}

.book .book-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.book-bottom .back {
  padding: 15px 10px 5px 10px; 
  align-items: center;
}

.book .links, .store .links {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.back a{
  transition: all .25s;
  margin: 15px;

}

.back a:hover {
  color: black;
  text-shadow: 1px 0px white, 0px 1px white, -1px 0px white, 0px -1px white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.75);
  min-width: 100vw;
  color: rgba(255,255,255,.9);
}

footer div {
  display: flex;
  flex-direction: row;
}

footer .footer-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.footer-search form input {
  margin: 10px 0px 10px 10px; 
  padding: 0 7px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border-color: rgba(255,255,255,.5);
  border-radius: 4px;
  border-top: none;
  border-bottom: none; 
  transition: all .25s;
  text-align: center;
}

footer form input:focus {
  border-radius: 0px;
  border-color: rgba(255,255,255,1);
  background-color: black;
}

footer form button {
  color: white;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: all .25s;
  outline: none;
}

footer form button:hover, footer form button:focus {
  border-left: solid 2px #FFF8F6;
  border-right: solid 2px #FFF8F6;
  border-radius: 20px;
  outline: none;
}

footer .credits {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 90vw;
  padding: 10px;
}

.hidden {
  opacity: 0;
  cursor: default;
  user-select: none;
}

.highlight-button {
  border: solid 1px #FFF8F6;
  background-color: rgba(0,0,0,0);
  border-radius: 0px;
  color: #FFF8F6;
}

/* Below styling borrowed from http://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/ */

input.star { 
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { 
  color: #F62; 
}

label.star:hover { 
  transform: rotate(-15deg) scale(1.3); 
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* Above styling borrowed from http://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/ */


@media screen and (min-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .splash-container {
    margin: 0 auto;
  }

  .container .read-book-container, .container .unread-book-container,
  .container .search-results-container {
    display: flex;  
    flex-direction: column; 
    width: 90%;
    align-self: flex-start;
    align-items: center; 
  }
  
  .book {
    width: 90%;
  }

}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }
  
  p {
    font-size: 12px;
  }

  nav {
    flex-direction: column;
  }

  nav ul {
    padding-right: 0;
  }

  nav .not-nav {
    width: 100vw;
    padding: 0px 15px;
  }

  .not-nav #home {
    margin-bottom: 0px;
    font-size: 18px;
  }

  .not-nav #user-greeting {
    padding: 12px 15px 0px;
    font-size: 16px;
  }

  .splash-container #splash-quote {
    line-height: 18px;
  }

  .container {
    margin: 85px auto 70px;
    padding: 0 0 0;
  }

  .input-container form [type='text'], .input-container form [type='number'],
  .input-container form [type='password'], .input-container form [type='email'],
  .search-container form [type='text'] {
    font-size: 16px;
    line-height: 18px;
  }

  .input-container form textarea[type='text'] {
    font-size: 12px;
    height: 100px;
  }

  .input-container .feedback {
    width: 300px;
  }

  .container .user-container {
    width: 100%;
    margin: 0;
  }

  #chat-box .chat-message p {
    display: block;
  }

  #chat-content #user-list-notification {
    font-size: 0.7em;
  }

  .chat-message p:nth-child(2) {
    padding-left: 5px;
    text-align: right;
  }

  .user-container .back,
  .input-container .back {
    display: flex;
    flex-direction: column;
  }

  .user-container .back a,
  .input-container .back a {
    margin: 5px;
  }

  label.star {
    font-size: 24px;
  }

  footer .credits {
    padding: 5px;
  }

  footer .footer-search {
    display: none;
  }
}