body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-style: italic;
}

nav, nav ul {
  display: flex;
  flex-direction: row;
}

nav {
  justify-content: space-between;
}

nav #home {
  margin: 5px;
}

nav ul li {
  margin: 5px;
}

.splash-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto; 
  justify-content: center;
  align-items: center;
  height: 95vw;
  width: 80vw;
  background-color: lightblue;
}

.splash-container .search-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  min-width: 40%;
  text-align: center;
}

.input-container form input {
  margin: 3px;
}

.bookstore, .book {
  margin: 10px;
  border: solid 1px grey;
  border-radius: 10px;
}

.book .user-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-feedback .user-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
}

.bookstore div, .book div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.links button {
  margin: 0 5px;
  font-size: 20px;
  width: 40px;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  min-width: 100vw;
  padding: 10px;
  color: white;
}

@media screen and (min-width: 700px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .container div {
    width: 90%
  }
}